page-geolocation{
    ion-content{
        #map_canvas {
            transition: ease-in .2s;
            &.midscreen{
                height: calc(100% - 160px); // 160px = reward card height (fixed)
            }
            &.fullscreen{
                height: 100%;
            }
        }
        #center-button{
            position: absolute;
            z-index: 200;
            top: 0;
            right: 0;
            background-color: #fff;
            padding: 10px;
            background-color: transparent;
            font-size: 1.5em;
            color: #333333;
            .icon{
                background-color: white;
                padding: 5px 7px;
                border: solid 1px lightgray;
                border-radius: 6px;
            }
        }
    }
    .gmnoprint{
        img{
            object-fit: contain;
        }
    }
}